# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Notfallkoffer.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Unity\notfallkoffer\Notfallkoffer\.idea\.idea.Notfallkoffer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
